
.token-tip-modal,
.net-tip-modal {
  padding: 20px;
  width: 300px;
  color: #646566;
  h4{
    width: 100%;
    font-size: .9375rem;
    text-align: center;
    color: #000;
  }
  .tip-content {
    font-size: .875rem;
    margin: 10px 0 0;
    word-break: break-word;
    a {
      color: #236BFB;
      margin: 5px;
    }
  }
}
.token-tip-modal {
  padding: 0 15px 20px;
  width: 100%;
  .tip-content {
    font-size: 15px;
    margin: 5px 0 0;
    line-height: 20px;
  }
}