@import '@/app.scss';
.overview-page {
  width: 90%;
  margin: 0 auto;
  .home-page {
    margin-top: 20px;
    .home-assets {
      border: 1px solid #e6e7e9; 
	  border-radius: 10px;
	  padding: 20px;
	  margin-top: 20px;
	  .select-item {
		    height: 48px;
		    display: flex;
		    justify-content: space-between;
		    align-items: center;
		    margin-top: 8px;
		    .select-left {
		      display: flex;
		      align-items: center;
		      .select-left-icon {
		        width: 1.2rem;
		        height: 1.2rem;
		        margin-right: 10px;
		      }
		      .select-left-value {
		        margin-top: 2px;
		        color: #999;
		      }
		    }
		    .select-price-right {
		      align-items: center;
		      text-align: right;
		     .select-right-des {
		        color: red;
		        margin-top: 5px;
		      }
		    }
		} 
    }
  }
  .approval-box {
    .tag-list {
      padding: 10px;
      background-color: #f5f5f7;
      display: flex;
      .tag-item {
        padding: 5px 10px;
        font-size: 0.84rem;
        background-color: #fff;
        margin-right: 10px;
        border-radius: 5px;
      }
      .tag-item:hover {
        cursor: pointer;
      }
      .tag-item.active {
        background-color: #4375f1;
        color: #fff;
      }
    }
    .approval-list {
      text-align: center;
      line-height: 40px;
      .list-header {
        font-size: 0.84rem;
        font-weight: bold;
        .list-header-item {
          border-bottom: 1px solid #dfdfdf;
        }
      }
      .list-item {
        border-bottom: 1px solid #dfdfdf;
        line-height: 40px;
        .item-con-right {
          a {
            padding: 8px 10px;
            background-color: #4375f1;
            color: #fff;
            border-radius: 3px;
          }
        }
      }
      .item-contract {
        display: flex;
        justify-content: space-between;
        .item-con-left {
          width: 80%;
          display: flex;
          align-items: center;
          line-height: 15px;
          .item-icon {
            img {
              width: 1.2rem;
              height: 1.2rem;
              border-radius: 50%;
              margin-right: 5px;
            }
          }
          .item-left-con {
            text-align: left;
          }
          .item-left-con {
            width: 100%;
          }
          .item-left-con p{
            color: #999;
            font-size: 0.72rem;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
        }
      }
    }
  }
}
