.token-amount-wrap {
  background: #fff;
  padding: 20px 20px 0;
  &-inner{
    padding: 15px;
    border: 1px solid #F2F2F2;
    // margin-bottom: rem(40);
    .top{}
    .bottom{
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: .6875rem;
      >div{ max-width: 80%; }
    }
    .slect-token-wrap{
      display: flex;
      align-items: center;
      .icon-selected{
        display: inline-block;
        width: 20px;
        height: 20px;
        vertical-align: middle;
      }
      .icon-selected{
        background: url('~@/assets/icon_down.png') center center no-repeat;
        background-size: 100% 100%;
      }
      .max-button {
        margin: 0 5px;
        background: #E4E6F5;
        padding: 0 4px;
        color: #495ABE;
        height: 18px;
        line-height: 18px;
        text-align: center;
        font-size: .6875rem;
      }
      .token-span{
        font-size: 1.1875rem;
        font-weight: bolder;
        vertical-align: bottom;
      }
    }
    .slect-token-wrap + span,
    .recharge-amount + span {
      color: #606265;
      font-size: .8125rem;
      display: block;
      margin: 10px 0;
    }
    .recharge-amount-input {
      font-size: 1.5625rem;
      font-weight: bolder;
      color: #C0C4CC;
      padding: 0;
      +span{ font-size: .8125rem; margin: 6px 0; color: #606265;}
      ::v-deep input{
        text-align: right;
        color: #606265;
      }
    }
    ::v-deep .recharge-amount-input.van-cell::after {
      border-bottom: none;
    }
  }
  .amount-fee-tip {
    .tip {
      display: block;
      font-size: .6875rem;
      color: #606265;
      margin: 5px 0 0 0;
    }
  }
  .opt-button {
    margin-top: 20px;
    font-size: 1.125rem;
    padding: 20px;
  }
  .token-select-wrap {
    min-width: 350px;
    padding: 20px;
    min-height: 400px;
    h3 {
      font-size: 1.5625rem;
      color: #333333;
    }
    .token-search-wrapper {
      position: relative;
      .serach-token-input { padding: 10px 0 5px; }
      .token-search-result-wrapper {
        position: absolute;
        width: 100%;
      }
      .token-search-result {
        background: #fff;
        border: 1px solid #f7f8fa;
        border-radius: 0 0 5px 5px;
        width: 95%;
        li {
          font-size: 14px;
          padding: 10px;
        }
        li:hover {
          color: #495ABE;
          background: #f7f8fa;
          font-weight: 600;
        }
      }
      .token-search-result-none-data {
        background: #fff;
        border: 1px solid #f7f8fa;
        border-radius: 0 0 5px 5px;
        width: 95%;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        color: #E4E6F5;
      }
    }
    .serach-token-input { padding: 10px 0; }
    .common-base-token {
      p{ font-size: .9375rem; color: #333;}
      p i {
        width: 20px;
        height: 20px;
        display: inline-block;
        background: url("~@/assets/icon_question.png") center center no-repeat;
        background-size: 100% 100%;
        vertical-align: middle;
        margin-left: 5px;
      }
    }
    .common-bases-list {
      margin: 15px 0 0;
      padding-bottom: 15px;
      border-bottom: 1px solid #F7F8F8;
      > a {
        display: inline-block;
        background: #F7F8F8;
        color: #333;
        // padding: rem(10) rem(15);
        padding: 10px 15px;
        margin-right: rem(10);
        border-radius: rem(10);
        font-size: 15px;
        vertical-align: middle;
        display: flex;
        align-items: center;
        width: 60px;
      }
      > span {
        display: inline-block;
        background: #F7F8F8;
        color: #333;
        padding: 10px 15px;
        margin-right: 10px;
        border-radius: 10px;
      }
    }
    .choose-token-list-ul {
      padding: 10px 0;
      li {
        cursor: pointer;
        margin: 0 0 20px;
        .token-name { font-size: .9375rem; }
        .token-name :nth-child(2){
          display: block;
          font-size: .6875rem;
          color: #C0C4CC;
        }
        .token-balance { color: #333333; font-size: 15px; }
      }
      li:hover{
        /* background: #f7f8fa;  */color: #495ABE;
        .token-balance { color: #495ABE; }
      }
    }
  }
  .token{
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
  }
  .token-ETH{
    background: url('~@/assets/icon_token_eth.png') center center no-repeat;
    background-size: 100% 100%;
    margin-right: 5px;
  }
  .token-DAI{
    background: url('~@/assets/icon_token_dai.png') center center no-repeat;
    background-size: 100% 100%;
    margin-right: 5px;
  }
}
