@import '@/app.scss';
.recharge-page {
  font-size: rem(13);
  background: #F7F8F8;
  align-items: flex-start;
  .recharge-toL2-tip {
    >div{
      margin: rem(10);
    }
    i {
      display: block;
      height: rem(20);
      width: rem(20);
      background: url('~@/assets/icon_notice.png') center center no-repeat;
    }
    .expand {
      .expand-tip {
        font-size: rem(11);
        color: #606265;
        height: rem(48);
        line-height: rem(16);
        @include text-more-ellipsis(2)
      }
    }
  }
  .recharge-opt-area {
    background: #fff;
    margin-bottom: rem(20);
    min-height: rem(30);
    padding: 0 0 rem(20);
    ::v-deep.van-tab--active { color: #495ABE;}
    ::v-deep.van-tabs__line {
      width: 20%;
      height: rem(1);
      background-color: #495ABE;
    }
    .img-QR {
      width: rem(155);
      height: rem(155);
      margin: rem(40) 0 rem(28);
    }
    .recharge-address-wrapper {
      padding: 0 rem(15);
      h3{ font-size: rem(15); color: #333; }
      .address {
        background: #F7F8F8;
        padding: rem(15);
        color: #333;
        font-size: rem(13);
        line-height: rem(18);
        border-radius: rem(5);
        margin: rem(10) 0 rem(20);
      }
      .copy-address {
        display: block;
        padding: 0 rem(21);
        border-radius: rem(5);
        left: 50%;
        transform: translate(-50%, 0);
      }
      .copy-address + span {
        font-size: rem(13);
        color: #606265;
        display: block;
        text-align: center;
        margin-top: rem(30);
        span{ display: block; margin-bottom: rem(5); }
      }
    }
  }
}