.common-exchange-list-wrapper {
  background: #FFFFFF;
  padding-bottom: 130px;
  .common-exchange-list {
    background: #fff;
    padding: 15px;
    .exchange-list-title {
      position: relative;
      color: #333333;
      font-weight: bolder;
      font-size: 1.133rem;
      padding-left: 10px;
    }
    .exchange-list-title::before{
      content: '';
      width: 3px;
      height: 15px;
      background: #495ABE;
      position: absolute;
      top: 3px;
      left: 0;
  
    }
    .exchange-list {
      margin-top: 10px;
      &-item{
        position: relative;
        div.mint-cell-wrapper{
          padding: 0 10px 0 0;
          display: flex;
          align-items: baseline;
          // background-image: linear-gradient(180deg, #d9d9d9, #d9d9d9 50%, transparent 50%);
          // background-size: 120% 1px;
          // background-repeat: no-repeat;
          // background-position: top left;
          // background-origin: content-box;
          // align-items: center;
          // box-sizing: border-box;
          // display: flex;
          // font-size: 16px;
          // line-height: 1;
          // min-height: inherit;
          // overflow: hidden;
          // padding: 0 10px;
          // width: 100%;
          background-image: none;
          .mint-cell-allow-right::after {
            border: solid 2px #c8c8cd;
            border-bottom-width: 0;
            border-left-width: 0;
            content: " ";
            top: 50%;
            right: 9px;
            position: absolute;
            width: 10px;
            height: 10px;
            transform: translateY(-50%) rotate(45deg);
          }
        }
        .mint-cell:first-child .mint-cell-wrapper{
          background-image: none;
        }
        .transaction-type-info { padding: 10px 0; }
        .transaction-amount-info { text-align: right; }
      }
      &-item::after{
        content: '';
        width: 95%;
        height: 1px;
        background: #F7F8F8;
        // background: rebeccapurple;
        position: absolute;
        bottom: 0;
        left: 10px;
      }
      .transaction-title{
        font-size: .9375rem;
        min-width: 170px;
      }
      .exchange-status-icon {
        width: 22px;
        height: 22px;
        vertical-align: middle;
        margin-right: 13px;
      }
      .status-transfer {
        background: url('~@/assets/icon_transfer.png') center center no-repeat;
        background-size: 100% 100%;
      }
      .status-withdraw {
        background: url('~@/assets/icon_withdraw.png') center center no-repeat;
        background-size: 100% 100%;
      }
      .status-wrong {
        background: url('~@/assets/icon_wrong.png') center center no-repeat;
        background-size: 100% 100%;
      }
      .status-recharge {
        background: url('~@/assets/icon_recharge.png') center center no-repeat;
        background-size: 100% 100%;
      }
      .exchange-status {
        padding: 5px;
        color: #fff;
        border-radius: 5px;
        width: 70px;
        font-size: .6875rem;
        text-align: center;
        margin: 5px 0 0 30px;
      }
      .exchange-status.pending{
        background: #EAA13B;
      }
      .exchange-status.success{
        background: #1ec469;
      }
      .exchange-status.fail{
        background: #cc3e3e;
      }
      .exchange-amount {
        font-weight: bolder;
        color: #333;
        font-size: .9375rem;
        >span{
          margin-left: 5px;
          font-size: .8125rem;
        }
      }
      .exchange-time {
        color: #606265;
        margin-top: 15px;
        font-size: .6875rem;
      }
    }
  }
  .seeMore{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    a {
      display: block;
      color: #495abe;
    }
    a:hover{
      color: #6576d4;
    }
  }
  .none-data {
    color: #333333;
    padding-top: 50px;
    img { width: 253px; height: 150px; }
    span { margin: 13px;}
  }
}


// common bottom modal
.common-bottom-popup{
  width: 100%;
  background: #FFFFFF;
  border-radius: 20px 20px 0 0;
  padding: 20px;
  .header{
    height: 50px;
    margin-bottom: 20px;
    h3 {
      font-size: 1.5625rem;
      color: #333;
    }
  }
  // exchange detail
  .common-exchange-detail-wrap {
    .common-exchange-detail-item {
      display: flex;
      color: #606265;
      margin: 0 0 20px;
      font-size: 1rem;
      .title{
        min-width: 50px;
      }
      .copy-tip{
        font-size: 1rem;
        color: #9e9e9e;
      }
      .to-etherscan{
        text-decoration: underline;
        color: #333;
        font-size: .9375rem;
      }
      .exchange-status {
        padding: 5px;
        width: 60px;
        font-size: .9375rem;
        text-align: center;
        margin: 5px 0 0 30px;
      }
      .exchange-status.pending{
        // background: #EAA13B;
        color: #EAA13B;
      }
      .exchange-status.success{
        // background: #1ec469;
        color: #1ec469;
      }
      .exchange-status.fail{
        // background: #cc3e3e;
        color: #cc3e3e;
      }
      .refres-button{
        margin-left: 10px;
        border: 1px solid #1989fa;
        color:#1989fa;
        padding: 3px 10px;
        border-radius: 5px;
      }
    }
  
  }
}

.waiting-modal {
  font-size: .9375rem;
  .inner-wrapper {
    .waiting_icon{
      width: 50px;
      height: 50px;
      display: block;
      background: url('~@/assets/icon_waiting.png') center center no-repeat;
      background-size: 100% 100%;
    }
    .waiting_icon.spin{
      animation: spin 2s infinite linear;
      -moz-animation: spin 2s infinite linear;
      -webkit-animation: spin 2s infinite linear;
      -o-animation: refreshing 2s infinite linear;
    }
    @-moz-keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
    
    @-webkit-keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
    
    @-o-keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
    
    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
  }
}