.withdraw-page {
  background: #fff;
  font-size: rem(13);
  .myAddress{ padding: rem(5);}
  .top-address {
    padding: rem(10) rem(20);
    font-size: rem(15);
  }
  .withdraw-opt-area {
    background: #fff;
    margin-bottom: rem(20);
    min-height: rem(30);
    padding: 0 0 rem(20);
    .address-wrapper {
      padding: 0 rem(20) 0;
      .address-wrapper-inner{
        width: 100%;
        border-radius: rem(5);
        border: rem(1) solid #f2f2f2;
        color: #333;
        ::v-deep.van-field__control{
          font-size: rem(15);
          font-family: PingFangSC-Regular, PingFang SC;
          line-height: rem(35);
        }
      }
      .address-textarea {
        border: rem(1) solid #F2F2F2;
        border-radius: rem(5);
        padding: rem(15);
        color: #333;
        font-size: rem(13);
        min-width: 100%;
        height: rem(66);
        resize: none;
      }
    }
  }
}

