.delegate-proposal-page {
  .proposal-des {
    font-size: 0.96rem;
    line-height: 25px;
    color: #9E9E9E;
  }
  .proposal-title {
    color: #2C3E50;
    font-size: 0.96rem;
    margin-top: 20px;
    margin-bottom: 15px;
    font-weight: bold;
  }
  .proposal-vote-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .edit-btn, .cancel-btn {
    width: 80px;
    height: 40px;
    color: #fff;
  }
  .delegate-update-content {
    display: flex;
    align-items: center;
  }
  .update-fast-btn {
    padding: 10px 10px;
    border-radius: 10px;
    margin-left: 10px;
    border: 1px solid #495ABE;
  }
  .update-fast-btn.active {
    background-color: #495ABE;
    color: #fff;
  }
  .update-input {
    width: 230px;
  }
  .delegate-type-select {
    margin-bottom: 40px;
  }
  .delegate-type-content {
    margin-top: 30px;
    margin-bottom: 60px;
  }
  .delegate-item {
    padding: 10px 20px;
    border: 1px solid #495ABE;
    border-radius: 20px;
    margin-right: 20px;
  }
  .delegate-item.active {
    background-color: #495ABE;
    color: #fff;
  }
  .delete-address-box {
    display: flex;
    align-items: center;
    .address-label {
      display: inline-block;
      width: 180px;
      font-size: 0.86rem;
    }
  }
  .add-proposal-btn {
    margin-top: 20px;
    a {
      color: #fff;
    }
  }
}