.install-wallet-modal {
  font-size: rem(15);
  background: #fff;
  width: rem(300);
  border: rem(1) solid #ccc;
  border-radius: rem(10);
  padding: rem(50) 0 rem(20);
  .install-button-outer {
    border: rem(1) solid #AA2E26;
    border-radius: rem(10);
  }
  .install-button{
    width: rem(180);
    border-radius: rem(10);
    border: none;
  }
  .install-guid {
    display: block;
    margin: rem(15);
    font-size: rem(13);
    a { color: #733EE4;}
  }
}