@import '@/app.scss';
.ncWalletRecover-page {
	.recover-des {
      font-size: 0.96rem;
	  line-height: 30px;
    }
    .wallet-list {
      margin-top: 20px;
    }
    .wallet-select {
      width: 50%;
    }
    .recover-next {
      margin-top: 40px;
    }
    .confirm-modal-popUp {
      border-radius: 5px;
      padding: 20px 10px;
      line-height: 20px;
      p {
        font-weight: bold;
        text-align: center;
      }
      .confirm-address {
        color: #495ABE;
        padding: 0 5px;
        font-size: 0.86rem;
      }
      .select-confirm-btn {
        margin-top: 20px;
      }
    }
    
}