.nav-title {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 48px;
  margin-top:20px;
  margin-bottom: 40px;
}
.back-icon {
  margin-right: 20px;
  cursor: pointer;
}
.nav-title-help {
  width: 30px;
  height: 30px;
  margin-left: 10px;
  cursor: pointer;
}