@import '@/app.scss';
.ncWalletCreate-page {
	  .recover-des {
      font-size: 0.96rem;
	    line-height: 30px;
      color: #9D9FA8;
    }
    .recover-content-box {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      margin-top: 40px;
    }
    .wallet-list {
      margin-right: 20px;
      width: 40%;
    }
    .wallet-select {
      width: 100%;
      ::v-deep .el-input__inner {
        border-radius: 7px;
      }
    }
    .recover-next {
      ::v-deep .el-button {
        border-radius: 18px;
        background-color: #3466E6;
        border-colod: #3466E6;
        height: 40px;
      }
    }
    .confirm-modal-popUp {
      border-radius: 5px;
      padding: 20px 10px;
      line-height: 20px;
      max-width: 300px;
      p {
        font-weight: bold;
        text-align: center;
      }
      .confirm-address {
        color: #495ABE;
        padding: 0 5px;
        font-size: 0.86rem;
      }
      .select-confirm-btn {
        margin-top: 20px;
      }
    }
    
}