@import '@/app.scss';
.ncWalletCreate-page {
  .create-top-des-show {
    margin-bottom: 10px;
    font-size: 1.08rem;
  }
  .create-top-des-title {
    margin-right: 15px;
  }  
  .create-des-text {
    color: #9D9FA8;
    font-size: 0.96rem;
	  line-height: 20px;
  } 
  .create-page-1 {
    .create-1-title {
      font-size: 1.08rem;
      margin-top: 30px;
      margin-bottom: 20px;
    }
    .create-1-box {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
    }
    .wallet-list {
      margin-right: 20px;
      width: 40%;
    }
    .wallet-select {
      width: 100%;
      ::v-deep .el-input__inner {
        border-radius: 7px;
      }
    }
    .create-1-next {
      ::v-deep .el-button {
        border-radius: 18px;
        background-color: #3466E6;
        border-colod: #3466E6;
        height: 40px;
        padding: 0.6rem 4rem;
      }
    }
  } 
  .create-page-2 {
    .create-2-title {
      font-size: 1.08rem;
      margin-top: 30px;
      margin-bottom: 20px;
    }
    .create-2-signer-item {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      margin-bottom: 15px;
      .create-signer-left img {
        width: 2rem;
        height: 2rem;
        margin-right: 10px;
        border-radius: 50%;
      }
      .create-sigern-name {
        font-weight:bold;
        font-size: 0.96rem;
      }
      .create-signer-address {
        font-size: 0.82rem;
        color: #9D9FA8;
        margin-top: 2px;
      }
      .create-2-add-signer {
        .add-signer-btn {
          justify-content: start !important;
        }
      }
    }
  }

}