@import '@/app.scss';
.ncWalletCreate-page {
  .create-top-des-show {
    margin-bottom: 10px;
    font-size: 1.08rem;
  }
  .create-top-des-title {
    margin-right: 15px;
  }  
  .create-des-text {
    color: #9D9FA8;
    font-size: 0.96rem;
	line-height: 20px;
  }  
}