.status-popUp {
  background: #fff;
  text-align: center;
  border-radius: 10px;
  padding: 30px;
  width: 330px;
  .icon {
    display: block;
    width: 71px;
    height: 71px;
  }
  .icon-success {
    background: url("~@/assets/icon_success.png") center center no-repeat;
    background-size: 100% 100%;
  }
  .icon-failed {
    background: url("~@/assets/icon_failed.png") center center no-repeat;
    background-size: 100% 100%;
  }
  .icon-warning {
    background: url("~@/assets/icon_notice.png") center center no-repeat;
    background-size: 100% 100%;
  }
  .main-txt {
    font-size: 1.4375rem;
    color: #333333;
    margin: 20px 0 15px;
  }
  .supplement-txt {
    font-size: .8125rem;
    color: #606265;
    line-height: 18px;
  }
  .supplement-txt + .button {
    margin-top: 20px;
    border-radius: 5px;
  }
}