.status-popUp {
  background: #fff;
  text-align: center;
  border-radius: rem(10);
  padding: rem(30);
  width: rem(330);
  .icon {
    display: block;
    width: rem(71);
    height: rem(71);
  }
  .icon-success {
    background: url("~@/assets/icon_success.png") center center no-repeat;
    background-size: 100% 100%;
  }
  .icon-failed {
    background: url("~@/assets/icon_failed.png") center center no-repeat;
    background-size: 100% 100%;
  }
  .main-txt {
    font-size: rem(23);
    color: #333333;
    margin: rem(20) 0 rem(15);
  }
  .supplement-txt {
    font-size: rem(13);
    color: #606265;
    line-height: rem(18);
  }
  .supplement-txt + .button {
    margin-top: rem(20);
    border-radius: rem(5);
  }
}