.status-popUp {
  background: #fff;
  text-align: center;
  border-radius: rem(10);
  padding: rem(30);
  width: rem(330);
  .main-txt {
    font-size: rem(20);
    color: #333333;
    margin: rem(20) 0 rem(35);
  }
}