.export-page {
  .export-des {
    font-size: 0.96rem;
    line-height: 30px;
    color: #9E9E9E;
  }
  .export-select-box {
    margin-top: 30px;
  }
  .select-label {
    font-size: 0.96rem;
    margin-right: 20px;
  }
  .opt-wrapper {
    margin-top: 60px;
  }
}