.trans-detail-page {
  .trans-item {
    line-height: 25px;
    .trans-item-name {
      font-size: 0.96rem;
      font-weight: bold;
      margin-right: 10px;
    }
    .trans-item-value {
      font-size: 0.96rem;
    }
  }
  .trans-path-title {
    font-size: 1.08rem;
    font-weight: bold;
    margin-top: 30px;
  }
  .trans-path-list {
    margin-top: 20px;
    .path-item-top {
      display: flex;
      align-items: center;
    }
    .path-item-icon {
      margin-right: 15px;
      border: 1px solid #dfdfdf;
      width: 1.2rem;
      height: 1.2rem;
      border-radius: 50%;
      display: inline-block;
      line-height: 1.2rem;
      text-align: center;
    }
    .trans-path-item.active .path-item-icon {
      background-color: #1687D3;
      color: #fff;
      border-color: #1687D3;
    }
    .trans-path-item.active .path-item-bottom {
      border-color: #1687D3;
    } 
    .path-item-status {
      font-size: 1rem;
      font-weight: bold;
    }
    .path-item-status.info {
      color: #999
    }
    .path-item-status.success {
      color: #1F7D3C
    }
    .path-item-status.error {
      color: red;
    }
    .path-item-bottom {
      border-left: 1px solid #666;
      min-height: 40px;
      margin-left: 0.6rem;
      min-width: 1px;
      margin-top: 5px;
      margin-bottom: 5px;
      display: flex;
      align-items: center;
      .path-item-bottom-img img{
        width: 1.8rem;
        height: 1.8rem;
        border-radius: 50%;
        margin-left: 1.5rem;
        margin-right: 0.6rem;
      }
      .path-item-bottom-con {
        p {
          font-size: 0.84rem;
          line-height: 20px;
        }
      }
      .path-item-bottom-btn {
        padding-left: 3.9rem;
      }
    }
  }
}