.left-menu-box {
  .menu-icon {
    width: 1.64rem;
    height: 1.64rem;
  }
  .popup-box {
    height: 100%;
    width: 13rem;
    background-color: #f5f5f7;
    .left-menu-item {
      // display: flex;
      align-items: center;
      width: 100%;
      padding: 0 1rem;
      cursor: pointer;
      line-height: 40px;
      font-size: 14px;
      font-weight: 500;
      font-family: Graphik, sans-serif;
      position: relative;
      span {
        margin-left: 10px;
      }
    }
    .left-menu-item:hover, .left-menu-item-child:hover {
      background-color: #ddd;
      border-radius: 5px;
    }
    .left-menu-item.active, .left-menu-item-child.active {
      color: #495ABE;
    }
    .left-menu-item-child {
      line-height: 30px;
      padding-left: 2.5rem;
      display: flex;
      align-items: center;
      font-size: 12px;
      cursor: pointer;
      span {
        margin-left: 10px;
      }
    }
    .left-menu-item-for-hasSub {
      .item {
        font-size: 14px; font-weight: 500; font-family: Graphik, sans-serif;
        ::v-deep.van-cell { background: transparent;}
        ::v-deep.van-cell__left-icon { margin-right: 10px; font-size: 20px;}
        ::v-deep.van-collapse-item__content { background: transparent;}
        label i { margin-right: 10px; vertical-align: middle; }
        .item-menu { font-size: 13px; line-height: 30px; padding-left: 28px; cursor: pointer; a{color: #2c3e50;display: block; width: 100%;padding: 2px 0;}}
        .item-menu:hover { background-color: #ddd; border-radius: 5px; }
        .item-menu.active { a{color: #495ABE;} }
      }
    }
  }
  .network-container {
    position: absolute;
    bottom: 0;
    padding: 10px 10px 0;
    .select-box { border: 1px solid #e6e7e9;}
  }
}