.datalist-wrapper {
  margin-top: 20px;
  .sign-operate {
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
  }
  .agree-btn {
    background-color: rgb(67, 117, 241);
  }
  .ignore-btn {
    background-color: #666;
  }
  .freeze-btn {
    background-color: #DF7401;
  }
}