.signManage-page {
  .sign-manage-des {
    font-size: 0.96rem;
    line-height: 30px;
    color: #9E9E9E;
    display: block;
    margin-bottom: 15px;
    padding-left: 8px;
    word-break: break-word;

  }
  .signlist-wrapper {
    margin-top: 10px;
    .add-signer-box {
      margin-top: 30px;
    }
    .add-signer-tip {
      margin-top: 20px;
      color: #999;
    }
  }
}