@import '@/app.scss';

.common-header{
  color: #236BFB;
  background: #fff;
  height: rem(44);
  font-size: rem(16);
  border-bottom: 1px solid #fafafa;
  .header-left {
    cursor: pointer;
    color: #333;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    font-size: rem(17);
    display: flex;
    .back-icon { margin-right: rem(5);}
  }
  .logo {
    width: rem(123);
    height: rem(26);
  }
  .header-address {
    cursor: pointer;
    color: #343399;
    background: #EAEAF4;
    border-radius: rem(14);
    padding: rem(5) rem(10);
    font-size: rem(15);
  }
  .linkWallet {
    color: #236BFB; vertical-align: middle; display: inline-block; margin-top: 2px;
    background: #F7F8F8;
    font-size: rem(15);
    border-radius: rem(14);
    padding: rem(5) rem(10);
    color: #333333;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
  }
  .icon {
    width: rem(20);
    height: rem(20);
    vertical-align: middle;
  }
  .night {
    background: url("~@/assets/icon_night.png") center center no-repeat;
    background-size: 100% 100%;
    margin: 0 rem(15);
  }
  .language {
    background: url("~@/assets/icon_language.png") center center no-repeat;
    background-size: 100% 100%;
  }
}

.choose-wallet-popup {
  min-height: rem(154);
  .choose-wallet {
    font-size: rem(20);
    color: #333333;
    i {
      width: rem(21);
      height: rem(21);
      display: inline-block;
      background: url('~@/assets/metamask.png') center center no-repeat;
      background-size: 100% 100%;
      vertical-align: middle;
      margin-right: rem(15);
    }
  }
}
