@import '@/app.scss';

.common-header{
  color: #236BFB;
  background: #fff;
  height: 44px;
  font-size: 1rem;
  border-bottom: 1px solid #fafafa;
  .header-left {
    cursor: pointer;
    color: #333;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    font-size: 1.0625rem;
    display: flex;
    .back-icon { margin-right: 5px;}
  }
  .header-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .account{
      display: block;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background: #607d8b;
      margin-left: 10px;
    }
  }
  .logo {
    width: 123px;
    height: 26px;
  }
  .header-address {
    cursor: pointer;
    color: #343399;
    background: #EAEAF4;
    border-radius: 0.875rem;
    padding: 5px 10px;
    font-size: .9375rem;
    i.link-icon{
      background: url("~@/assets/icon_link_blue.png") center center no-repeat;
      background-size: 100% 100%;
    }
  }
  .link-icon {
    display: inline-block;
    width: 12px;
    height: 12px;
    vertical-align: middle;
    margin: 0 5px;
  }
  .linkWallet {
    color: #236BFB; vertical-align: middle; display: inline-block; margin-top: 2px;
    background: #F7F8F8;
    font-size: .9375rem;
    border-radius: 14px;
    padding: 5px 10px;
    color: #333333;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    i.link-icon{
      background: url("~@/assets/icon_link_black.png") center center no-repeat;
      background-size: 100% 100%;
    }
  }
  .icon {
    width: 20px;
    height: 20px;
    vertical-align: middle;
  }
  .night {
    background: url("~@/assets/icon_night.png") center center no-repeat;
    background-size: 100% 100%;
    margin: 0 15px;
  }
  .language {
    background: url("~@/assets/icon_language.png") center center no-repeat;
    background-size: 100% 100%;
  }
}

#header{
  ::v-deep.van-overlay{
    background-color: transparent;
  }
}

.choose-wallet-popup {
  min-height: 154px;
  .choose-wallet {
    font-size: 1.25rem;
    color: #333333;
    i {
      width: 21px;
      height: 21px;
      display: inline-block;
      background: url('~@/assets/metamask.png') center center no-repeat;
      background-size: 100% 100%;
      vertical-align: middle;
      margin-right: 15px;
    }
  }
}

.show-accrout-address-popup {
  width: 100%;
  min-width: 300px;
  background: #FFFFFF;
  border-radius: 20px 20px 0 0;
  // padding: rem(10);
  padding: 10px;
  .header{
    margin-bottom: 10px;
    padding: 0 10px;
    h3 {
      font-size: 1.25rem;
      color: #333;
    }
  }
  .inner-wraper {
    background: #fafafa;
    padding: 15px 10px;
    border-radius: 8px;
    font-size: .9375rem;
    color: #606265;
    .address {
      color: #333;
      margin: 20px 0;
      font-size: 1rem;
      line-height: 24px;
    }
    a{
      color: #606265;
    }
    a.disconnect{
      padding: 5px;
      background: #E4E6F5;
      color: #495ABE;
      font-size: .75rem;
      border-radius: 8px;
    }
    .a-icon {
      display: inline-block;
      width: 15px;
      height: 15px;
      vertical-align: middle;
      margin-right: 5px;
    }
    .copy-a { margin-right: 15px;}
    .copy-a i {
      background: url("~@/assets/icon_copy.png") center center no-repeat;
      background-size: 100% 100%;
    }
    .view-in-explorer-a i {
      background: url("~@/assets/icon_out.png") center center no-repeat;
      background-size: 100% 100%;
    }
  }
}


.account-popover,
.login-popover{
  font-size: 0.875rem;
  color: #6a737d;
  width: 300px;
  padding: 10px;
  // background: rgba(0, 0, 0, 0.8);
  box-shadow: rgb(0 0 0 / 15%) 0 2px 2px 2px;
  .account-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
    >span{
      font-size: .9375rem;
      color: #000;
    }
    .lockbutton{
      padding: 0 20px;
    }
  }
  .accountlist {
    max-height: 256px;
    overflow-y: auto;
    font-size: .9375rem;
    li {
      cursor: pointer;
      margin: 5px;
      display: flex;
      align-items: center;
      padding: 8px 5px;
      .active-status-icon {
        margin-right: 10px;
        visibility: hidden;
      }
      .account-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        span{
          display: block;
          margin-bottom: 5px;
        }
      }
    }
    li.active{
      .account-text {
        span:first-child {color: #236BFB;}
      }
      .active-status-icon {
        color: #236BFB;
        visibility: visible;
      }
    }
  }
  .account-setting-wrapper{
    padding: 10px;
    .opt-item {
      cursor: pointer;
      padding: 13px 0;
      .opt-icon {margin-right: 5px; vertical-align: middle; font-size: 16px;}
      .icon-bridge {
        display: inline-block;
        width: 16px;
        height: 16px;
        background: url('~@/assets/icon_bridge.png') center center;
        background-size: contain;
      }
      span, i { color: #333; }
    }
  }
  .login-icon {
    width: 32px;
    height: 32px;
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
  }
  .logo-google {
    background: url('~@/assets/google_icon.svg') center center no-repeat;
    background-size: 100% 100%;
  }
  .logo-metamsk {
    background: url('~@/assets/metamask.png') center center no-repeat;
    background-size: 100% 100%;
  }
}
