.component-unlockwallet {
  .no-connect-wallet {
    padding-bottom: rem(100);
    .margin10 { margin: rem(10); }
    >div{
      margin: rem(30) 0;
      img {
        width: rem(84);
        height: rem(134);
      }
    }
    .button-large {
      // width: 90%;
      height: rem(40);
      // transform: translateX(6%);
    } 
  }
}
