.component-unlockwallet {
  .no-connect-wallet {
    padding-bottom: rem(100);
    .margin10 { margin: rem(10); }
    >div{
      margin: rem(30) 0;
      img {
        width: rem(84);
        height: rem(134);
      }
    }
    .button-large {
      width: 90%;
      height: rem(55);
      transform: translateX(6%);
    } 
  }
}
.install-wallet-modal {
  font-size: rem(15);
  background: #fff;
  width: rem(300);
  border: rem(1) solid #ccc;
  border-radius: rem(10);
  padding: rem(50) 0 rem(20);
  .install-button-outer {
    border: rem(1) solid #AA2E26;
    border-radius: rem(10);
  }
  .install-button{
    width: rem(180);
    border-radius: rem(10);
    border: none;
  }
  .install-guid {
    display: block;
    margin: rem(15);
    font-size: rem(13);
    a { color: #733EE4;}
  }
}

.account-list-for-wallet-modal {
  padding: 0 0 rem(20);
  width: rem(300);
  .title{
    font-size: rem(20);
    color: #000;
    display: block;
    padding: rem(15) rem(20);
    border-color: #ccc;
  }
  li{
    padding: rem(20);
    display: flex;
    justify-content: space-between;
    align-items: center;
    span.name{
      font-size: rem(18);
    }
    a{
      font-size: rem(12);
      color: #1684fc;
    }
  }
  
}