.component-unlockwallet {
  .no-connect-wallet {
    padding-bottom: 100px;
    .margin10 { margin: 10px; }
    >div{
      margin: 30px 0;
      img {
        width: 84px;
        height: 134px;
      }
    }
    .button-large {
      // width: 90%;
      height: 55px;
      font-size: .9375rem;
      // transform: translateX(6%);
      border-radius: 6px;
    } 
  }
}
