@import '@/app.scss';
.send-page {
  font-size: .9375rem;
  background: #F7F8F8;
  align-items: flex-start;
  i.info_icon {
    display: inline-block;
    height: 20px;
    width: 20px;
    background: url('~@/assets/icon_notice.png') center center no-repeat;
    vertical-align: middle;
    background-size: contain;
  }
  .send-toL2-tip {
    padding-right: 10px;
    >div{
      margin: 10px 3px;
    }
    .expand {
      .expand-tip {
        font-size: .75rem;
        color: #606265;
        height: 48px;
        line-height: 16px;
        word-break: break-word;
        @include text-more-ellipsis(2);
        word-break: break-word;
      }
    }
  }
  .send-opt-area {
    background: #fff;
    margin-bottom: 20px;
    min-height: 30px;
    padding: 0 0 20px;
    .address-wrapper {
      padding: 20px 20px 0;
      .address-wrapper-inner{
        width: 100%;
        border-radius: 5px;
        border: 1px solid #f2f2f2;
        color: #333;
        ::v-deep.van-field__control{
          font-size: .9375rem;
          font-family: PingFangSC-Regular, PingFang SC;
          line-height: 35px;
        }
      }
    }
    .tip {
      display: block;
      font-size: .9375rem;
      color: #606265;
      margin: 13px 0 0 20px;
      display: flex;
      align-items: center;
    }
  }
  .safe-tip-toast {
    background: #060E3D;
    color: #fff;
    font-size: .9375rem;
    padding: 16px;
    text-align: center;
    width: 88%;
    max-width: 370px;
    border-radius: 10px;
    opacity: 0.8;
    i{
      display: inline-block;
      height: 20px;
      width: 20px;
      background: url('~@/assets/icon_safe.png') center center no-repeat;
      background-size: 100% 100%;
      vertical-align: middle;
      margin-right: 10px;
    }
    span{ word-break: break-word; }
  }
  ::v-deep.noneOverlay{ display: none; }
}
