@import '@/app.scss';
.send-page {
  font-size: rem(15);
  background: #F7F8F8;
  align-items: flex-start;
  i.info_icon {
    display: inline-block;
    height: rem(20);
    width: rem(20);
    background: url('~@/assets/icon_notice.png') center center no-repeat;
    vertical-align: middle;
    background-size: contain;
  }
  .send-toL2-tip {
    padding-right: rem(10);
    >div{
      margin: rem(10) rem(3);
    }
    .expand {
      .expand-tip {
        font-size: rem(12);
        color: #606265;
        height: rem(48);
        line-height: rem(16);
        word-break: break-word;
        @include text-more-ellipsis(2);
        word-break: break-word;
      }
    }
  }
  .send-opt-area {
    background: #fff;
    margin-bottom: rem(20);
    min-height: rem(30);
    padding: 0 0 rem(20);
    .address-wrapper {
      padding: rem(20) rem(20) 0;
      .address-wrapper-inner{
        width: 100%;
        border-radius: rem(5);
        border: rem(1) solid #f2f2f2;
        color: #333;
        ::v-deep.van-field__control{
          font-size: rem(15);
          font-family: PingFangSC-Regular, PingFang SC;
          line-height: rem(35);
        }
      }
    }
    .tip {
      display: block;
      font-size: rem(15);
      color: #606265;
      margin: rem(13) 0 0 rem(20);
      display: flex;
      align-items: center;
    }
  }
  .safe-tip-toast {
    background: #060E3D;
    color: #fff;
    font-size: rem(15);
    padding: rem(16);
    text-align: center;
    width: 88%;
    max-width: rem(370);
    border-radius: rem(10);
    opacity: 0.8;
    i{
      display: inline-block;
      height: rem(20);
      width: rem(20);
      background: url('~@/assets/icon_safe.png') center center no-repeat;
      background-size: 100% 100%;
      vertical-align: middle;
      margin-right: rem(10);
    }
    span{ word-break: break-word; }
  }
  ::v-deep.noneOverlay{ display: none; }
}
