.third-login-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .logo{
    width: 250px;
    margin-bottom: 30px;
  }
  p { color: #333333; font-size: 15px; margin-bottom: 20px;}
  .button-google {
    display: flex;
    justify-content: center;
    align-items: center;
    i{
      width: 191px;
      height: 46px;
      background: url('~@/assets/google_icon.png') center center no-repeat;
      background-size: 100% 100%;
    }
  }
}
