.common-transaction-table {
  margin-top: 30px;
  h4{
    margin: 20px 0;
    // @include h4title;
    color: #202C37;
    font-size: 1.6rem;
  }
  .nc-tag {
    margin-bottom: 10px;
    span {
      padding: 5px 10px;
      font-size: 0.84rem;
      background-color: #fff;
      margin-right: 10px;
      border-radius: 5px;
      border: 1px solid  #4375f1;
    }
    span:hover {
      cursor: pointer;
    }
    span.active {
      background-color: #4375f1;
      color: #fff;
    }
  }
}
.table-item-tip-tooltip {
  font-size: 1rem;
  color: #fff;
}
::v-deep .van-search__content {
	background-color: #e6e7e9;
	border-radius: 5px;
	font-size: #000;
	::-webkit-input-placeholder { color:#999; }
    :-moz-placeholder { color: #999; }
    ::-moz-placeholder { color: #999; }
    :-ms-input-placeholder {color: #999; }
}