.result-modal-wraper {
  ::v-deep .el-dialog {
    border-radius: 8px;
    width: 80%;
    max-width: 400px;
  }
  ::v-deep .el-dialog__body {
    
  }
  ::v-deep .el-dialog__footer {
    padding: 0px;
  }
  .confirm-modal-wraper {

    .confirm-modal-content {
      font-size: 0.96rem;
      min-height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .el-button {
      padding: 8px 40px;
    }
    .result-btn {
      margin-top: 20px;
      margin-bottom: 20px;
    }
    .dialog-footer {
      border-top: 1px solid #ececec;
    }
    .result-modal-icon {
      text-align: center;
      img {
        width: 2.4rem;
        height: 2.4rem;
      }
    }
    .confirm-modal-detail {
      text-align: center;
    }
  }
  
}