@import '@/app.scss';
.deposit-page {
  font-size: .8125rem;
  background: #F7F8F8;
  align-items: flex-start;
  .deposit-toL2-tip {
    padding-right: 10px;
    >div{
      margin: 10px 3px;
    }
    i.info_icon {
      display: inline-block;
      height: 20px;
      width: 20px;
      background: url('~@/assets/icon_notice.png') center center no-repeat;
      vertical-align: middle;
      background-size: contain;
    }
    .expand {
      .expand-tip {
        font-size: .75rem;
        color: #606265;
        height: 48px;
        line-height: 1rem;
        @include text-more-ellipsis(2);
        word-break: break-word;
      }
    }
  }
  .deposit-opt-area {
    background: #fff;
    margin-bottom: 20px;
    min-height: 30px;
    padding: 0 0 20px;
    ::v-deep.van-tab { font-size: .9375rem; border-bottom: 1px solid #f2f2f2;}
    ::v-deep.van-tab--active { color: #495ABE;}
    ::v-deep.van-tabs__line {
      width: 20%;
      height: 1px;
      background-color: #495ABE;
    }
    .img-QR {
      width: 155px;
      height: 155px;
      margin: 40px 0 28px;
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
    .unlock-wallet-button-wrapper {
      width: 100%;
      padding: 20px;
    }
    .deposit-address-wrapper {
      padding: 0 15px;
      h3{
        font-size: 15px;
        color: #333;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #333333;
      }
      .address {
        background: #F7F8F8;
        padding: 15px;
        color: #333;
        font-size: .8125rem;
        line-height: 18px;
        border-radius: 5px;
        margin: 10px 0 20px;
      }
      .copy-address {
        display: block;
        padding: 0 21px;
        border-radius: 5px;
        left: 50%;
        transform: translate(-50%, 0);
      }
      .copy-address + span {
        font-size: .8125rem;
        color: #606265;
        display: block;
        text-align: center;
        margin-top: 30px;
        span{ display: block; margin-bottom: 5px; }
      }
    }
  }
}
